extends layout

block content
  .row
    .col-sm-8
      h1= title
      h3= price
      p
        img.img-responsive(src="https://members.dlat.org/membership/wp-content/uploads/2014/10/google-apps-for-business.jpg")
      p= description

    .col-sm-4.demo
      h4 Switch to Google Apps
      p.
        Google Apps is a suite of web-based collaboration software to
        meets the needs of your small to medium sized business: 
        Gmail; Google Calendar for shared calendaring; Google Docs and Spreadsheets 
        for online document hosting and collaboration; Google Sites for team site creation 
        and publishing; and Google Video for easy, secure sharing of video content.

      form(action='/leads', method='POST')

        .form-group
          label(for='name') Your Name
          input.form-control(type='text', name='name',
            placeholder='Your Name')

        .form-group
          label(for='phone') Your Phone Number
          input.form-control(type='text', name='phone',
            placeholder='Phone Number')

        .form-group
          label(for='message') Your Business Name?
          input.form-control(type='text', name='message',
            placeholder='')        

        button.btn.btn-primary(type='submit') Request Info

block scripts
  script(src='form.js')
